__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
apple_tv_keys.txt
chromedriver.exe
upload.bat
auto_update.bat
.git/
.gitattributes
temp.txt
*.log
.env
.vscode/
.idea/
*.bak
*.tmp
*.swp
node_modules/ 